.mainBackground {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "header header"
        "description social";
    max-width: 800px;
    padding: 2rem;
    column-gap: 2rem;
}

@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "description"
            "social";
    }
}

.header {
    grid-area: header;
}

.description {
    grid-area: description;
}

.social {
    grid-area: social;
}

.social a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.social a img {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: scale-down;
    margin-right: 0.5rem;
}

/* .projects {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
} */